/* Name: Maura Sweeney 
Class: CPSC 332
Assignment: HW3
Last Modified: 10/02/24
I've attempted both extra credits */

/* EXTRA CREDIT custom font */
    /*font families chosen based on https://sketchdeck.com/blog/combining-fonts/ 
    and https://www.w3schools.com/css/css_font.asp#:~:text=In%20CSS%20there%20are%20five,(no%20small%20strokes%20attached). */
h1,h2, h3, h4, th, caption{
    font-family: Georgia;
}
p, td{
    font-family: Helvetica;
}
img{
    max-width: 100%;
    height: auto;
    width: 75px;
}
#introduction>img{
    /* EXTRA CREDIT special effect */
    border-radius: 50%;
}
.container{
    display: grid;
    grid-template-columns: auto auto;
}
#links-nav{
    grid-column: 1 / 3;
    /* EXTRA CREDIT special effect */
    background: linear-gradient(45deg, pink, orange, yellow, palegreen, lightblue, plum);
}

#links-nav nav a{
    margin-right: 15px; 
}

#introduction{
    margin: 20px; 
    grid-row: 2;
    /* EXTRA CREDIT special effect */
    border-radius: 5px; 
    border: 1px solid lightgray;
    background: rgb(200, 225, 200)
}
#main{
    margin: 20px; 
    border-radius: 5px; 
    border: 1px solid lightgray;
    grid-row: 2;
    background: whitesmoke;
}
#profile-pic, #summary{
    background-color: whitesmoke; 
    border: 1px solid lightgray;
    border-radius: 5px; 
    padding: 15px; 
    /* EXTRA CREDIT special effect */
    box-shadow: 3px 2px 1px 3px lightgray; 
}
#summary{
    width: 200px;
}
#core-skills{
    margin: 20px; 
    padding-left: 15px; 
    list-style-position: inside;
}

#core-skills ul {
    padding: 5px; 
    margin: 10px; 
    background-color: powderblue; 
}

#career-summary{
    border-radius: 5px; 
    border: 1px solid lightgray;
    width: 600px;
    margin: 20px; 
}

.work-experience {
    margin: 20px; 
}

.work-experience th, .work-experience td {
    border: 1px solid #ddd; 
    padding: 10px; 
    text-align: left; 
}

/* making the description column in work history wider */
.work-experience th:nth-child(4),
.work-experience td:nth-child(4) {
    width: 200px;
}

.work-experience tr:nth-child(even) {
    background-color: rgb(250, 125, 125); 
}

.work-experience tr:nth-child(odd) {
    background-color: rgb(250, 200, 200); 
}

#education-qualifications{
    border: 1px solid lightgray;
    border-radius: 5px; 
    width: 600px;
    margin: 20px; 
}

#education-table {
    margin: 20px;
}

#education-table th, #education-table td {
    border: 1px solid #ddd; 
    padding: 10px; 
    text-align: left;
}

#education-table tr:nth-child(even) {
    background-color: rgb(250, 250, 200);
}

#education-table tr:nth-child(odd) {
    background-color: rgb(250, 250, 125); 
}

#qualifications-table {
    margin: 20px;
}

#qualifications-table th, #qualifications-table td {
    border: 1px solid #ddd; 
    padding: 10px; 
    text-align: left;
}

#qualifications-table tr:nth-child(even) {
    background-color: rgb(75, 125, 75);
}

#qualifications-table tr:nth-child(odd) {
    background-color: rgb(150, 200, 150); 
}

#interests-hobbies{
    border: 1px solid lightgray;
    border-radius: 5px; 
    width: 600px;
    margin: 20px; 
}

#int-hob-list {
    margin: 20px; 
    padding-left: 40px; 
}

#int-hob-list li {
    padding: 5px; 
    background-color: rgb(200, 175, 200);
    list-style-position: inside;
}

#int-hob-list img {
    width: 100px;
    margin-right: 10px; 
    vertical-align: middle; 
    /* EXTRA CREDIT special effect */
    box-shadow: 3px 2px 1px 3px rgb(125, 100, 125); 
}